<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="useOfficialClient" value="true" />
		<add key="exclusiveConnections" value="true" />

		<add key="rabbit.host" value="192.168.0.51" />
<!--		<add key="rabbit.host" value="localhost" />-->
		<add key="rabbit.admuser" value="guest" />
		<add key="rabbit.admpwd" value="guest" />
		<add key="rabbit.vhost" value="clear_int_test" />

		<add key="rabbit.user" value="clear" />
		<add key="rabbit.pwd" value="clearxpto" />
	</appSettings>

	<runtime>
		<gcServer enabled="true"/>
	</runtime>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>